<% include ../pizzas/header %>

<div class="container mt-5 p-5">
  <form 
    action="/pizzas/update/<%= pizza._id %>" 
    method="post"
    >
     <div class="text-center p-3">
      <div class="form-row justify-content-center">
        <div class="form-group col-md-4">
         <input type="text" value="<%= pizza.name %>" name="name" />
        </div>
      </div>

    <!-- CHECKBOX CONTAINER DA INSERIRE-->
    <div class="form-row justify-content-center">
        <div class="form-group col-md-4">
          <legend class="col-form-label">
            Ingredients
          </legend>
          <input type="text" value="<%= pizza.ingredients %>" name="ingredients" />
        </div>
     </div>   

  <div class="form-row justify-content-center">
    <div class="form-group col-md-4">
   <textarea type="text" name="description">
     <%= pizza.description %>
    </textarea>
  </div>
 </div>

<div class="form-row justify-content-center">
  <div class="form-group col-md-4">
      difficulties:
      <input type="text" value="<%= pizza.difficulties %>" name="difficulties" />
      
    <p>expense:</p>
    <input type="text" value="<%= pizza.expense %>" name="expense" />
    
    <input type="submit" value="confirm" />

    <p>Main ingredients:</p>
    <% for(let i=0; i< ingredients.length; i++){ %>
    <input class="form-control" type="checkbox" name="ingredient" value="<%= ingredients[i]._id %>">
    <%= ingredients[i].name %>
    <% } %>
   



  <div class="form-inline border justify-content-center">
    <form action="/pizzas/delete/<%=pizza._id%>" method="post">
      <button type="submit" class="btn btn-danger">
          <i class="far fa-trash-alt"></i></button>
    </form>
  </div>

  </form>
</div>
