<% include ../pizzas/header %>

<div class="container mt-5 p-5">
  <form action="/pizzas/update/<%= pizza._id %>" method="post" class="bg-warning rounded">
    <div class="p-3">

      <div class="form-row justify-content-center">
        <div class="form-group col-md-4">
          <input type="text" value="<%= pizza.name %>" name="name" class="form-control" placeholder="Name of the pizza" />
        </div>
      </div>

      <!-- CHECKBOX CONTAINER DA INSERIRE DA RIMUOVERE? -->
      <div class="form-row justify-content-center">
        <div class="form-group col-md-4">
          <legend class="col-form-label">
            Ingredients
          </legend>
          <input type="text" value="<%= pizza.ingredients %>" name="ingredients" />
        </div>
      </div>
      <!-- xxxxx -->
      <p>Main ingredients:</p>
      <% for(let i=0; i< ingredients.length; i++){ %>
      <input class="form-control" type="checkbox" name="ingredient" value="<%= ingredients[i]._id %>">
      <%= ingredients[i].name %>
      <% } %>

      <div class="form-row justify-content-center">
        <div class="form-group col-md-4">
          <textarea type="text" name="description" class="form-control" placeholder="Description">
            <%= pizza.description %>
          </textarea>
        </div>
      </div>

      <div class="form-row justify-content-center">
        <div class="form-group col-md-4">
          <input type="text" name="difficulties" value="<%= pizza.difficulties %>" class="form-control" placeholder="Recipe´s difficulties:" />
        </div>
      </div>

      <div class="form-row justify-content-center">
        <div class="form-group col-md-4">
          <input type="text" value="<%= pizza.expense %>" name="expense" class="form-control" placeholder="Recipe's average price:" />
        </div>
      </div>

      <div class="form-inline justify-content-center">
        <div class="form-group m-2">
          <input type="submit" value="CONFIRM" class="btn btn-success rounded form-control" />
        </div>
        <form action="/pizzas/delete/<%=pizza._id%>" method="post">
          <button type="submit" class="btn btn-danger rounded form-control">
            <i class="far fa-trash-alt"></i>
          </button>
        </form>

      </div>
    </div>

</div>
</form>
</div>