<% include ../pizzas/header %>

<div class="container">

  <!-- JUMBOTRON -->

  <div class="text-center">
    <div class="jumbotron">
      <h1>sirPizza</h1>
      <p class="lead">Share your favorite pizzas!</p>
    </div>
    <h3>
      <% if(notFound) {  %>
        Pizza Not Found
      <%  } else { %>
      <a href="/pizzas/create">
        Create your pizza
      </a>
      <% } %>
    </h3>
  </div>

  <!-- FINE JUMBOTRON -->


  <!-- CARD -->
  <div class="container">

    <% for(let i=0; i < pizzas.length; i++) {%>

      <% if (i % 3 == 0) {%>
    <div class="row">
      <%}%>
    <div class="col border bg-warning">

      <h5>
        <a href="/pizzas/show/<%= pizzas[i]._id%>" class="font-weight-bold text-danger card-link">
          <%= pizzas[i].name %>
        </a>
      </h5>
      
      <ul class=" col"></ul>

      <p class="card-text">Expense:<%= pizzas[i].expense %></p>

      <p class="card-text">Ingredients:      
      <% let ingredientsArray = pizzas[i].ingredient %>
        <% ingredientsArray.forEach(ingredient => { %>
        <%= ingredient.name %>
        <% }) %>
      </p>

      <p class="card-text">Difficulties:<%= pizzas[i].difficulties %></p>

      <p class="card-text">Description:<%= pizzas[i].description %></p>

      <li>
        <img class="responsive img-thumbnail col-sm-6" src="<%= pizzas[i].image%>" alt=""  style="padding:0; width: 100%;
  max-width: 400px; height: 230px;">
      </li>

      </ul>


    </div>


      <% if (i % 3 == 2) {%>
      </div>
        <%}%>

    <% } %>

  </div>

</div>

<% include ../pizzas/footer %>