<% include ../pizzas/header %>
<% include ../../js/search.js %>

<div class="container-fluid">
  <!-- JUMBOTRON -->
  <div class="text-center mt-5">
    <!--SEARCH BAR-->
    <div class="jumbotron justify-content-center bg-light">
      <div class="form-inline justify-content-center">
          <input type="text" placeholder="Margherita..." class="form-control" id="searchBar" />
          <!-- SEARCH A PIZZA-->
          <button onclick="search()" type="button" class="btn font-weight-bold text-light bg-danger m-2">
              Search
          </button>
          <!-- GO TO CREATE -->
          <a class="btn font-weight-bold text-light bg-success" href="/pizzas/create">
              Create</a>
      </div>
        <h3>
            <% if(notFound) {  %>
            <%  } else { %>
              <h1>Ops, Pizza Not Found</h1>
              <!-- Find the recipe you want or create your pizza recipe -->
              <a href="/pizzas/create" class="text-dark"></a>
            </a> 
            <% } %>
        </h3>
    </div>
  </div>
  <!-- FINE JUMBOTRON -->


  <div class="card-deck m-0">
      <% for(let i=0; i < pizzas.length; i++) {%>
        <% if (i % 4 == 0) {%>
      <div class="row">
      <%}%>
      <div class="card">
        
            <img 
            class="card-img-top responsive img-thumbnail bg-warning" 
            src="<%= pizzas[i].image%>" 
            alt="" 
            style="padding:0; width: 100%; height: 100%;"
            >
         
            <div class="card-body">

              <h4 class="card-title text-center">
                <a href="/pizzas/show/<%= pizzas[i]._id%>" class="font-weight-bold text-dark card-link">
                <%= pizzas[i].name %>
                </a>
              </h4>

              <div class="row">
                <div class="col-sm-5">
                  <div class="card-text font-weight-bold">
                    <p class="card-text">Ingredients:</p>
                    <p class="card-text">Difficulties:</p>
                    <p class="card-text">Expense:</p>
                    <p class="card-text">Description:</p>
                </div>
              </div>

                <div class="col-sm-7">
                <div class="card-text">
                  <p class="card-text">
                    <% let ingredientsArray = pizzas[i].ingredient %>
                    <% ingredientsArray.forEach(ingredient => { %>
                    <%= ingredient.name %>
                    <% }) %>
                  </p>
                  <p class="card-text">
                    <%= pizzas[i].difficulties %>
                  </p>
                  <p class="card-text"><%= pizzas[i].expense %></p>
                  <p class="card-text"><%= pizzas[i].description %></p>
                </div>
            </div>
            <!-- chiuso card body  -->

              <!-- <a href="/pizzas/show/<%= pizzas[i]._id%>"  
                class="btn btn-primary m-2">
                <%= pizzas[i].name %> -->
              </a>
          </div> 
          </div>
        <% if (i % 3 == 2) {%>
          <%}%>
        </div>
        <% } %> 
      </div>
  
 </div> 

<% include ../pizzas/footer %>