<% include ../pizzas/header %>

<div class="container mt-5 p-5">
  <div class="bg-warning p-4">
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <img class="card-img-top responsive rounded" src="<%= pizza.image %>" alt="" style="max-width: 600px; max-height: auto" />
      </div>
    </div>

    <div class="form-row justify-content-center">
      <div class="form-group col-md-4 text-center">
        <h3>
          <%= pizza.name %>
        </h3>
      </div>
    </div>

    <div class="form-group justify-content-center text-center">
      <div class=" font-weight-bold">
        <i class="fas fa-pizza-slice p-1"></i>
        Ingredients
      </div>
      <div class="form-group justify-content-center text-center">
        <% ingredients.forEach(ingredient => { %>
        <%= ingredient.name %>
        <% }) %>
      </div>
    </div>

    <div class="form-group justify-content-center text-center">
      <div class=" font-weight-bold">
        <i class="fas fa-burn"></i>
        Description
      </div>
      <div class="form-group justify-content-center text-center">
        <%= pizza.description%>
      </div>
    </div>

    <div class="form-group justify-content-center text-center">
      <div class=" font-weight-bold">
        <i class="fas fa-utensil-spoon p-1"></i>
        Difficulties
      </div>
      <div class="form-group justify-content-center text-center">
        <%= pizza.difficulties%>
      </div>
    </div>

    <div class="form-group justify-content-center text-center">
      <div class=" font-weight-bold">
        <i class="fas fa-bomb p-1"></i>
        Average price
      </div>
      <div class="form-group justify-content-center text-center">
        <%= pizza.expense%>
      </div>
    </div>

    <div class="form-inline justify-content-center">
      <form action="/pizzas/edit/<%=pizza._id%>" method="get">
        <button class="btn bg-success m-2 text-light font-weight-bold rounded" type="submit">EDIT</button>
      </form>
      <form action="/pizzas/delete/<%=pizza._id%>" method="post">
        <button type="submit" class="btn btn-danger rounded">
          <i class="far fa-trash-alt"></i></button>
      </form>
    </div>

  </div>

</div>